body {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px !important;
	line-height: 20px;
	background: url("../resources/img/background_img.jpg");
	background-attachment: fixed;
}

/*********tiles context and footer space**************/
#content {
	margin-bottom: 10px;
}

/*********tiles context and footer space**************/
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* top */
#top {
	background-color: #332619 !important;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 30px;
}

#top .container {
	padding: 0 20px;
}

#top .btn-link,#top-links li,#top-links a {
	color: #ccc;
	/* text-shadow: 0 1px 0 #FFF; */
	text-decoration: none;
}

#top-links i {
	margin-top: 3px;
}

#top .btn-link:hover,#top-links a:hover {
	color: #fdb45e;
}

#top-links .div-submenu-container a {
	text-shadow: none;
}

#top-links .div-submenu-container a:hover {
	color: #FFF;
}

#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}

#top-links {
	padding-top: 3px;
}

#top-links a+a {
	margin-left: 15px;
}

/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}

#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}

#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}

.marginBottom-0 {
	margin-bottom: 0;
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background-color: #332619 !important;
	border-color: #428bca;
}

.navbar-nav>li>a {
	color: #ffffff !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:focus {
	color: #FDB45E !important;
}

.navbar {
	min-height: 30px !important;
	padding: 0px !important;
}

#nav-top {
	color: #fff !important;
	background-color: #996633 !important;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}

#nav-top>li>a:focus {
	color: #FDB45E !important;
}

.dropdown-submenu {
	position: relative;
}

/********** this is for sub menu and its menu display only (for direct relationship)  ********/
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

/********** this is for sub menu and its menu display only (end) ********/

/**************************(start) sub menu container (div placed between parent and its submenu) style place between parent menu and its menu ****************************/
/********creating relation between div and submenu (no direct relation ship between parent and its submenu)*********/
.div-submenu-container>.dropdown-menu {
	top: 0;
	left: 0;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.div-submenu-container>.dropdown-menu {
	display: block;
}

/**************************(end )sub menu container (div placed between parent and its submenu) style place between parent menu and its menu ****************************/

/*****************parent menu separated from it submenu by div	***********/
.dropdown-submenu>.div-submenu-container {
	top: 0;
	left: 100%;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.dropdown-submenu:hover>.div-submenu-container {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.div-submenu-container {
	left: -100%;
	margin-left: 10px;
	border-radius: 0px;
}

#headerDropDownId .dropdown:hover .dropdown-menu {
	display: block !important;
}

/* carousel indicators 
*
*/
@media ( min-width :992px) {
	.article-slide .carousel-indicators li {
		border-radius: 0;
		height: 35px;
		width: 100px;
		display: inline;
		padding: 10px 15px 8px 15px !important;
		border-color: #e4e4e4;
	}
}

/* Indicators active image style
*
 */
@media ( min-width :992px) {
	.article-slide .carousel-indicators .active {
		background-color: #332619;
		color: #ffffff;
		border-bottom: 4px solid #DE8A03;
		border-left: 0px;
		border-right: 0px;
		margin: 0px important;
	}
}

@media ( min-width :992px) {
	.carousel-indicators {
		bottom: -20px;
		left: 35% !important;
		margin-left: 0px !important;
	}
}

@media ( max-width : 767px) {
	.carousel-indicators {
		bottom: -20px;
	}
}

.div-submenu-container {
	position: absolute;
	top: 100%;
	left: 0;
	/*z-index: 1000;*/
	z-index: 10000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.div-submenu-container>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
}

#searchcategory { /* Dropdown within searchbar */
	width: 100px;
	color: #333;
}

.carousel-control.left,.carousel-control.right {
	background-image: none;
}

.carousel-example-product,.col-sm-2 {
	padding: 0px;
}

#Product1_description,.col-md-4 {
	padding-right: 0;
}

.carousel-example-product,.thumbnail {
	padding: 10px;
	border-radius: 0px;
}

.offer-text {
	background-color: #18b424;
	color: #fff;
	margin-top: 10px;
	padding: 14px 16px 12px;
	position: absolute;
}

.offer-text2 {
	background-color: #eb0429;
	color: #fff;
	margin-top: 10px;
	padding: 14px 16px 12px;
	position: absolute;
}

ul {
	list-style-type: none;
}

#footers,#sellerLoginHeader {
	background-color: #332619;
	color: #fff !important;
}

#footers a {
	color: #fff !important;
}

#footers a:hover {
	color: #ddd6c4 !important;
}

#footers ul {
	padding-left: 0px !important;
}

.fontCorsiva {
	font-family: Monotype Corsiva;
	font-size: 16px;
}

.carousel-example-product .carousel-inner {
	width: 100%;
	max-height: 175px !important;
}

.footer-box {
	padding: 20px 50px;
}

.small-box {
	font-size: 10px;
}

#advertishmentId .thumbnail {
	margin-bottom: 10px;
}

.panel {
	margin-bottom: -10px;
}

#CustomerRegistrationId  .control-label {
	text-align: left;
	margin-bottom: 10px;
}

#CustomerRegistrationId .form-group {
	margin-bottom: 5px;
}

.verticalLine {
	border-right: 2px dotted #332619;
}

/****************for testing purpose***********/
.carousel-control {
	width: 5%;
}

@media ( max-width : 797px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
}

#myCarousel .nav a small {
	display: block;
	padding: 2px;
}

#myCarousel .nav {
	background: #332619;
}

#myCarousel .nav-pills>li>a {
	border-radius: 0px !important;
	color: #ffffff !important;
}

#myCarousel .nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	background-color: #DE8A03 !important;
	border-width: 0px !important;
	color: #ffffff !important;
}

/*******************taken from main.css (for testing purpose)**************/
.container-fluid {
	padding: 0px;
}

.gapFix1 {
	height: 230px;
}

.gapFix2 {
	height: 322px;
}

.features_items {
	overflow: hidden;
}

h2.title {
	color: #fe980f;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px 30px;
	position: relative;
	text-transform: uppercase;
}

.product-image-wrapper {
	border: 1px solid #f7f7f5;
	margin-bottom: 30px;
	overflow: hidden;
}

.single-products {
	position: relative;
}

.forgetPassword {
	color: #ffffff;
}

#sellerLoginBox .form-group {
	margin-left: 15px;
}

.margin-left-30- {
	margin-left: -30px;
}

.padding-top-15 {
	padding-top: 15px
}

.padding-right {
	padding-right: 0px;
}

.padding-left {
	padding-left: 0px;
}

.breadcrumb_cust {
	border-radius: 0px;
	background-color: #332619;
	color: #ffffff;
	font-family: Monotype Corsiva;
	font-size: 16px;
	list-style: outside none none;
	margin-bottom: 5px;
	padding: 8px 15px;
}

.fk-footer-ssa {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e4e4e4;
	border-image: none;
	border-style: solid;
	border-width: 1px 0;
	margin: 20px 0;
}

.fk-footer-ssa .ssa-block .ssa-unit:last-child {
	border-right: 0 none;
}

@media ( min-width :992px) {
	.fk-footer-ssa .ssa-block .ssa-unit {
		border-right: 1px solid #e4e4e4;
		padding: 10px 0;
		text-align: center;
		font-size: 20px;
	}
}

@media ( max-width :767px) {
	.fk-footer-ssa .ssa-block .ssa-unit {
		padding: 10px 0;
		text-align: center;
		font-size: 20px;
	}
}

.line,.lastUnit {
	overflow: hidden;
}

ol,ul {
	list-style: outside none none;
}

.unit {
	float: left;
}

.size1of3 {
	width: 33.3333%;
}

.fk-footer-ssa .ssa-block .ssa-unit .text {
	color: #c0c0c0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

.line,.lastUnit {
	overflow: hidden;
}

.lastUnit {
	float: none;
	width: auto;
}

.fk-footer-ssa .ssa-block .ssa-unit .glyphicon {
	height: 47px;
	padding-right: 5px;
	vertical-align: top;
	width: 47px;
}

.glyphicon-map-marker {
	color: #c0c0c0;
	font-size: 50px;
}

/********************************ribbon style***********************************/

/* About Us - content space */
.bubble {
	clear: both;
	margin: 0px auto;
	width: 150px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 0; /* the stack order: displayed under ribbon rectangle */
}

/* Ribbon header */
.rectangle,.rectangle_sm {
	background: none repeat scroll 0 0 #de8a03;
	float: left;
	height: 32px;
	left: -15px;
	position: relative;
	top: 0;
}

.rectangle_sm:HOVER {
	background: none repeat scroll 0 0 #d08302;
}

.rectangle:HOVER {
	background: none repeat scroll 0 0 #d08302;
}

.rectanle_lg_wd {
	margin-left: 20px;
	width: 160px;
}

.rectangle_sm_wd {
	width: 100px;
	margin-left: 50px;
}

/* Ribbon text */
.rectangle  h2 {
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
}

.rectangle_sm  h2 {
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
}

/* Left side-fold ribbon */
.triangle-l {
	border-color: transparent #332619 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	position: absolute;
	z-index: -1;
}

.triangle-left-pos {
	left: -10px;
	top: 20px;
}

/* Right side-fold ribbon */
.triangle-r {
	border-color: transparent transparent transparent #332619;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	z-index: -1;
}

.triangle-right-pos {
	right: -10px;
	top: -10px;
}

/* About Us - content padding */
.info {
	padding: 60px 25px 35px 25px;
}

.info h2 {
	font-size: 20px;
}

.info p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
}

/********************************ribbon style***********************************/
#searchBtn .searchPad {
	padding: 5px 15px 5px 15px;
}

/***************************************tab arrow style**************************************/
.arrow_box_border {
	position: relative;
	background: transparent;
	border: 2px solid #DE8A03;
	z-index: 1;
}

.arrow_box {
	position: relative;
	background: #DE8A03;
	border: 2px solid #DE8A03;
	z-index: 1;
}

.arrow_box:after,.arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #DE8A03;
	border-width: 10px;
	margin-left: -10px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #DE8A03;
	border-width: 13px;
	margin-left: -13px;
}

/* /***************************************customer panel styles*************************************/
.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	width: 300px;
	color: #e1ffff;
}

.nav-side-menu .brand {
	background-color: #332619;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul,.nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer; . collapsed { .arrow : before {
                 font-family : FontAwesome;
	content: "\f053";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

}
}
.nav-side-menu ul :not(collapsed) .arrow:before,.nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active,.nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,.nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,.nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,.nav-side-menu li .sub-menu li {
	background-color: #332619;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #332619;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,.nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,.nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

@media ( max-width : 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
}

@media ( min-width : 767px) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}

/***********************customer panel style ends here**************************** */
/************************customer login style starts here**************************/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.brdBlack {
	border: 2px solid black;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin input[type="text"],.form-signin input[type="password"],.form-signin input[type="email"]
	{
	position: relative;
	font-size: 13px;
	height: 40px !important;
	height: auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*  margin-top:10px!important; */
}

.form-signin input[type="text"]:focus,.form-signin input[type="password"]:focus,.form-signin input[type="email"]:focus
	{
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	/*  margin-bottom: 10px; */
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-radius: 0;
}

.btn-lg {
	margin: 0px !important;
}

.form-signin p {
	/*background-color:#000;*/
	font-size: 16px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	padding: 8px 0px 8px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.checkListColor {
	color: #47a447;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

#login {
	margin-top: 30px;
}

#forgot {
	margin-top: 50px;
}

#signup {
	margin-top: 30px;
}

#logoimg {
	width: 315px;
	height: 51px;
	padding-left: 33px
}

/*************customer login style ends here******************************/

/**********login btn padding right, left********/
.login-btn {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
}

.payments {
	font-size: 2.5em;
}

/**************************************product box styles***********************************/
.product-box h2 {
	color: #DE8A03;
	font-size: 24px;
	font-weight: 700;
}

.product-box h2 i {
	padding-right: 2px;
}
/**************************************product box styles***********************************/

/**************************************Rating Star Styles**********************************/
.rating-loading {
	width: 25px;
	height: 25px;
	font-size: 0px;
	color: #fff;
	background: transparent url('../img/loading.gif') top left no-repeat;
	border: none;
}
/*
 * Stars
 */
.rating-fa {
	font-family: 'FontAwesome';
	padding-left: 1px;
}

.rating-fa .rating-stars:before {
	padding-left: 1px;
}

.rating-gly {
	font-family: 'Glyphicons Halflings';
}

.rating-gly-star {
	font-family: 'Glyphicons Halflings';
	padding-left: 2px;
}

.rating-gly-star .rating-stars:before {
	padding-left: 2px;
}

.rating-lg .rating-gly-star,.rating-lg .rating-gly-star .rating-stars:before
	{
	padding-left: 4px;
}

.rating-xl .rating-gly-star,.rating-xl .rating-gly-star .rating-stars:before
	{
	padding-left: 2px;
}

.rating-active {
	cursor: default;
}

.rating-disabled {
	cursor: not-allowed;
}

.rating-uni {
	font-size: 1.2em;
	margin-top: -5px;
}

.rating-container {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #e3e3e3;
	overflow: hidden;
}

.rating-container:before {
	content: attr(data-content);
}

.rating-container .rating-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #fde16d;
	transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.rating-container .rating-stars:before {
	content: attr(data-content);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.rating-container-rtl {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	color: #fde16d;
}

.rating-container-rtl:before {
	content: attr(data-content);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.rating-container-rtl .rating-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #e3e3e3;
	transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}

.rating-container-rtl .rating-stars:before {
	content: attr(data-content);
}

/**
 * Rating sizes
 */
.rating-xl {
	font-size: 4.89em;
}

.rating-lg {
	font-size: 3.91em;
}

.rating-md {
	font-size: 3.13em;
}

.rating-sm {
	font-size: 2.5em;
}

.rating-xs {
	font-size: 2em;
}

/**
 * Clear rating button
 */
.star-rating .clear-rating,.star-rating-rtl .clear-rating {
	color: #aaa;
	cursor: not-allowed;
	display: inline-block;
	vertical-align: middle;
	font-size: 60%;
}

.clear-rating-active {
	cursor: pointer !important;
}

.clear-rating-active:hover {
	color: #843534;
}

.star-rating .clear-rating {
	padding-right: 5px;
}

/**
 * Caption
 */
.star-rating .caption,.star-rating-rtl .caption {
	color: #999;
	display: inline-block;
	vertical-align: middle;
	font-size: 55%;
}

.star-rating .caption {
	padding-left: 5px;
}

.star-rating-rtl .caption {
	padding-right: 5px;
}
/**************************************Rating Star Styles End**********************************/

/**************************************Product List Styles**********************************/
.style {
	margin-left: 20%;
}

/**************************************check out section**********************************/
/* .button {
	margin-top: 1%;
	margin-left: 35%;
}

.buttonstyle {
	margin-top: 1%;
	margin-left: 120%;
}
 */
.nav-side-menu1 {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #404040;
	width: 300px;
	color: #e1ffff;
}

.nav-side-menu1 .brand1 {
	background-color: #404040;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

/* .nav-side-menu1 ul1 .active1, .nav-side-menu1 li1 .active1 {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}
 */

/**************************************check out section End**********************************/

/**************************************product details section End**********************************/
.starrating {
	width: 200px;
	margin: 10px auto;
}

.star {
	font-size: 40px;
	color: orange;
	cursor: pointer;
	
}

.star:hover:before {
	content: "\2605";
	position: absolute;
	color: yellow;
}


.image {
	width: 300px;
}

.zoom {
	width: 0px;
	position: absolute;
	z-index: 1;
}

.image:hover+.zoom {
	width: 400px;
}

/**************************************product details section End**********************************/

/**************************************Review section**********************************/
.starcolor1 {
	width: 200px;
	margin: 10px auto;
}

.star1 {
	font-size: 20px;
	color: orange;
	cursor: pointer;
	
}

.star1:hover:before {
	content: "\2605";
	position: absolute;
	color: yellow;
}

/**************************************Review section end**********************************/