body {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px !important;
	line-height: 20px;
	background: url("/crafartweb/resources/img/background_img.jpg") no-repeat fixed 0 0 / 100% auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* top */
#top {
	background-color: #332619 !important;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 30px;
}

#top .container {
	padding: 0 20px;
}

#top .btn-link, #top-links li, #top-links a {
	color: #ccc;
	/* text-shadow: 0 1px 0 #FFF; */
	text-decoration: none;
}

#top-links i {
	margin-top: 3px;
}

#top .btn-link:hover, #top-links a:hover {
	color: #fdb45e;
}

#top-links .div-submenu-container a {
	text-shadow: none;
}

#top-links .div-submenu-container a:hover {
	color: #FFF;
}

#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}

#top-links {
	padding-top: 3px;
}

#top-links a+a {
	margin-left: 15px;
}

/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}

#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}

#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}

.marginBottom-0 {
	margin-bottom: 0;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #332619 !important;
	border-color: #428bca;
}

.navbar-nav>li>a {
	color: #ffffff !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:focus {
	color: #FDB45E !important;
}


.navbar {
	min-height: 30px !important;
	padding: 0px !important;
}

#nav-top {
	color: #fff !important;
	background-color: #996633 !important;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}

#nav-top>li>a:focus {
	color: #FDB45E !important;
}

.dropdown-submenu {
	position: relative;
}

/********** this is for sub menu and its menu display only (for direct relationship)  ********/
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

/********** this is for sub menu and its menu display only (end) ********/

/**************************(start) sub menu container (div placed between parent and its submenu) style place between parent menu and its menu ****************************/
/********creating relation between div and submenu (no direct relation ship between parent and its submenu)*********/
.div-submenu-container>.dropdown-menu {
	top: 0;
	left: 0;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.div-submenu-container>.dropdown-menu {
	display: block;
}

/**************************(end )sub menu container (div placed between parent and its submenu) style place between parent menu and its menu ****************************/

/*****************parent menu separated from it submenu by div	***********/
.dropdown-submenu>.div-submenu-container {
	top: 0;
	left: 100%;
	margin-top: -0px;
	margin-left: -1px;
	border-radius: 0px;
}

.dropdown-submenu:hover>.div-submenu-container {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.div-submenu-container {
	left: -100%;
	margin-left: 10px;
	border-radius: 0px;
}

#headerDropDownId .dropdown:hover .dropdown-menu {
	display: block !important;
}

/* carousel indicators 
*
*/
.article-slide .carousel-indicators li {
	border-radius: 0;
	height: 35px;
	width: 100px;
	display: inline;
	padding: 10 15 8 15;
	border-color: #e4e4e4;
}

/* Indicators active image style
*
 */
.article-slide .carousel-indicators .active {
	background-color: #332619;
	color:#ffffff;
	border-bottom: 4px solid  #DE8A03;
	border-left:0px;
	border-right:0px;
	margin: 0px important;
}




.carousel-indicators {
	bottom: -50px;
	left: 35% !important;
	margin-left: 0px !important;
}

.div-submenu-container {
	position: absolute;
	top: 100%;
	left: 0;
	/*z-index: 1000;*/
	z-index: 10000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.div-submenu-container>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
}

#searchcategory { /* Dropdown within searchbar */
	width: 100px;
	color: #333;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-example-product, .col-sm-2 {
	padding: 0px;
}

#Product1_description, .col-md-4 {
	padding-right: 0;
}

.carousel-example-product, .thumbnail {
	padding: 10px;
	border-radius: 0px;
}

.offer-text {
	background-color: #18b424;
	color: #fff;
	margin-top: 10px;
	padding: 14px 16px 12px;
	position: absolute;
}

.offer-text2 {
	background-color: #eb0429;
	color: #fff;
	margin-top: 10px;
	padding: 14px 16px 12px;
	position: absolute;
}

ul {
	list-style-type: none;
}

#footers {
	background-color: #332619;
	color: #fff !important;
}

#footers a {
	color: #fff !important;
}

#footers a:hover {
	color: #ddd6c4 !important;
}

#footers ul {
	padding-left: 0px !important;
}

.fontCorsiva {
	font-family: Monotype Corsiva;
	font-size: 16px;
}

.carousel-example-product .carousel-inner {
	width: 100%;
	max-height: 175px !important;
}

.footer-box {
	padding: 20px 50px;
}

.small-box {
	font-size: 10px;
}

#advertishmentId .thumbnail {
	margin-bottom: 10px;
}

.panel {
	margin-bottom: -10px;
}

#CustomerRegistrationId  .control-label {
	text-align: left;
	margin-bottom: 10px;
}

#CustomerRegistrationId .form-group {
	margin-bottom: 5px;
}

.verticalLine {
	border-right: 2px dotted #332619;
}

/****************for testing purpose***********/
.carousel-control {
	width: 5%;
}

@media ( max-width : 797px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
}

#myCarousel .nav a small {
	display: block;
	padding: 2px;
}


#myCarousel .nav {
	background: #332619;
}

#myCarousel .nav-pills > li > a {
    border-radius: 0px !important;
    color:  #ffffff !important;
}

#myCarousel .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #DE8A03 !important;
  border-width:0px !important;
  color: #ffffff !important;
}

/*******************taken from main.css (for testing purpose)**************/
.container-fluid {
	padding: 0px;
}

.gapFix1 {
	height: 230px;
}

.gapFix2 {
	height: 322px;
}

.features_items {
	overflow: hidden;
}

h2.title {
	color: #fe980f;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px 30px;
	position: relative;
	text-transform: uppercase;
}

.product-image-wrapper {
	border: 1px solid #f7f7f5;
	margin-bottom: 30px;
	overflow: hidden;
}

.single-products {
	position: relative;
}

.margin-left-30- {
	margin-left: -30px;
}

.padding-right {
	padding-right: 0;
}

.padding-top-15 {
	padding-top: 15px
}

.padding-left {
	padding-left: 0;
}

.breadcrumb_cust {
	border-radius: 0px;
	background-color: #332619;
	color: #ffffff;
	font-family: Monotype Corsiva;
	font-size: 16px;
	list-style: outside none none;
	margin-bottom: 5px;
	padding: 8px 15px;
}

.fk-footer-ssa {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e4e4e4;
	border-image: none;
	border-style: solid;
	border-width: 1px 0;
	margin: 20px 0;
	padding: 0 80px;
}

.fk-footer-ssa .ssa-block .ssa-unit:last-child {
	border-right: 0 none;
}

.fk-footer-ssa .ssa-block .ssa-unit {
	border-right: 1px solid #e4e4e4;
	padding: 10px 0;
	text-align: center;
}

.line, .lastUnit {
	overflow: hidden;
}

ol, ul {
	list-style: outside none none;
}

.unit {
	float: left;
}

.size1of3 {
	width: 33.3333%;
}

.fk-footer-ssa .ssa-block .ssa-unit .text {
	color: #c0c0c0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

.line, .lastUnit {
	overflow: hidden;
}

.lastUnit {
	float: none;
	width: auto;
}

.fk-footer-ssa .ssa-block .ssa-unit .glyphicon {
	height: 47px;
	padding-right: 5px;
	vertical-align: top;
	width: 47px;
}

.glyphicon-map-marker {
	color: #c0c0c0;
	font-size: 50px;
}

/********************************ribbon style***********************************/

/* About Us - content space */
.bubble {
	clear: both;
	margin: 0px auto;
	width: 150px;
	background: #fff;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 90; /* the stack order: displayed under ribbon rectangle */
}

/* Ribbon header */
.rectangle, .rectangle_sm {
	background: none repeat scroll 0 0 #de8a03;
	float: left;
	height: 32px;
	left: -15px;
	position: relative;
	top: 0;
	z-index: 100;
}

.rectangle_sm:HOVER {
	background: none repeat scroll 0 0 #d08302;
}

.rectangle:HOVER {
	background: none repeat scroll 0 0 #d08302;
}

.rectanle_lg_wd {
	margin-left: 20px;
	width: 160px;
}

.rectangle_sm_wd {
	width: 95px;
	margin-left: 60px;
}

/* Ribbon text */
.rectangle  h2 {
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
}

.rectangle_sm  h2 {
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
}

/* Left side-fold ribbon */
.triangle-l {
	border-color: transparent #332619 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	position: relative;
	width: 0;
	z-index: -1;
}

.triangle-l-lg-wd {
	left: -5px;
	top: 22px;
}

.triangle-l-sm-wd {
	left: 35px;
	top: 22px;
}

/* Right side-fold ribbon */
.triangle-r {
	border-color: transparent transparent transparent #332619;
	border-style: solid;
	border-width: 10px;
	height: 0;
	position: relative;
	width: 0;
	z-index: 1;
}

.triangle-r-lg-wd {
	left: 155px;
	top: -30px;
}

.triangle-r-sm-wd {
	left: 130px;
	top: -30px;
}

/* About Us - content padding */
.info {
	padding: 60px 25px 35px 25px;
}

.info h2 {
	font-size: 20px;
}

.info p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
}

/********************************ribbon style***********************************/
#searchBtn .searchPad {
	padding: 5px 15px 5px 15px;
}

/***************************************tab arrow style**************************************/
.arrow_box_border {
	position: relative;
	background: transparent;
	border: 2px solid #DE8A03;
	z-index: 1;
}

.arrow_box {
	position: relative;
	background: #DE8A03;
	border: 2px solid #DE8A03;
	z-index: 1;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #DE8A03;
	border-width: 10px;
	margin-left: -10px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #DE8A03;
	border-width: 13px;
	margin-left: -13px;
}
